section {
    padding: 50px 4%;
}

section > *:not(:last-child) {
    margin-bottom: 20px;
} 

#aboutSect {
    background-color: #f2f3ee;
    text-align: center;
}

#feedSect {
    background-color: #e9edc9;
}
#feedSect img {
    width: 93%;
    max-width: 600px;
    height: auto;
    border-radius: 30px;
}

#recipeSect {
    background-color: #ccd5ae;
}
#recipeSect #mainRecipes {
    display: grid;
    grid-gap: 20px;
    /* grid-template-columns: repeat(auto-fit, 350px); */
    /* margin: 0 auto; */
    margin-bottom: 40px;
}

#recipeSect .recipe {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 4px #777777;
    display: flex;
    color: black;
    text-decoration: none;
    margin: 0 auto;
    width: 95%;
    max-width: 350px;
}
#recipeSect .recipe:last-child {
    display: none;
}
#recipeSect img {
    height: auto;
    width: 45%;
    border-radius: 20px 0 0 20px;

}
#recipeSect .recipeTitle {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#recipeSect .recipeDesc {
    display: none;
}

.recipe .recipeTitle {
    font-family: heptaSlab-Medium;
    text-align: center;
}
.recipe .recipeDesc {
    margin: 0 auto;
}

#contactSect {
    background-color: #f2f3ee;
}

.sectHeadline {
    display: block;
    text-align: center;
    font-family: cooperBlack;
    font-weight: lighter;
    font-size: 2em;
    letter-spacing: 1px;
}

@media only screen and (min-width: 1200px) {
    #recipes {
        display: flex;
    }

    #recipeSect #mainRecipes {
        display: grid;
        grid-template-columns: 57% calc(43% - 20px);
        grid-template-rows: repeat(4, 1fr);
        max-width: 1200px;
    }

    .recipe:first-child {
        grid-row: span 4;
    }
    #recipeSect .recipe:not(:first-child) {
        grid-template-columns: 55% 45%;
        grid-template-rows: repeat(2, 1fr);
    }
    #recipeSect .recipe:not(:first-child) img {
        height: auto;
        grid-row: 1/ span 2;
        border-radius: 20px 0 0 20px;
    }


    /*
#recipeSect .recipe:first-child .recipeDesc {
    padding: 5px;
}
#recipeSect .recipe:not(:first-child) {
    display: grid;
    align-items: center;
}
#recipeSect .recipe:not(:first-child) .recipeDesc {
    display: none;
}
#recipeSect .recipe img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}
#recipeSect .recipe:not(:first-child) img {
    grid-row: 1/ span 2;
    border-radius: 20px 20px 0 0;
} */
}