/* 
THIS IS A TEST
*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mobile {
    display: inline;
}

.desktop {
    display: none;
}

/* ~~~ Custom Font Set Up ~~~ */
@font-face {
    font-family: cooperBlack;
    src: url(../fonts/Cooper\ Black\ Regular.ttf) format("truetype");
}

@font-face {
    font-family: heptaSlab;
    src: url(../fonts/HeptaSlab-Regular.ttf) format("truetype");
}

@font-face {
    font-family: heptaSlab-Medium;
    src: url(../fonts/HeptaSlab-Medium.ttf) format("truetype");
}

p:not(:last-child), ul:not(:last-child) {
    margin-bottom: 20px;
}

body {
    font-family: heptaSlab, serif;
    font-size: 18px;
    line-height: 1.5;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px; width: 100%;
    background-color: transparent;
    color: white;
    z-index: 9001;
}
nav #navBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px; height: 45px;
    background-color: #E06C9F;
}

#logo {
    font-family: cooperBlack, Garamond, sans-serif;
    font-weight: lighter;
    font-weight: 2.5rem;
}

.opacityLayer {
    position: fixed;
    z-index: 2600;
    background-color: black;
    opacity: 0%;
    transition: opacity 350ms ease-in-out;
    height: 0; width: 0;
}

.navMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 10px 0;
    top: 0;
    width: 100%;
    background-color: #485460;
    transition: transform 350ms ease-in-out;
    transform: translateY(-400px);
    z-index: 9000;
}
.navMenu a {
    text-decoration: none;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.menuOpen {
    transform: translateY(0px);
}
.tintOn {
    opacity: 50%;
    height: 100vh; width: 100%;
}

header {
    width: 100%; height: 85vh;
    background-image: url(../images/chickens-medium.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    background: red;
}
header #welcomeMsg {
    width: 100%; height: min-content;
    background-color: rgba(37, 37, 37, 0.6);
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 1;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /* padding: 50px 15px; */
}
main section p {
    max-width: 600px
}

.buttonMain {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 150px; height: 45px;
    margin: 0 auto;
    background-color: #E06C9F;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}

.buttonMain:hover {
    background-color: #df86ac;
}

ul {
    margin-left: 30px;
}

footer {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    min-height: 75px;
    background-color: #899D78;
}
footer > * {
    margin: 0 auto;
}

@media only screen and (min-width: 1200px) {

    .mobile {
        display: none;
    }

    .desktop {
        display: inline;
    }

    #logo {
        font-size: 4em;
        letter-spacing: 1px;
    }
    #introText {
        font-size: 2em;
        
    }

    nav {
        background-color: #485460;
        height: 60px;
        justify-content: center;
    }
    nav .links {
        font-family: cooperBlack;
        font-size: 1.25em;
        letter-spacing: 1px;
        width: 800px;
        display: flex;
        justify-content: space-between;
    }
    nav .links a {
        color: white;
        text-decoration: none;
    }
    nav .links a:hover {
        color: #df86ac;
    }
}