<nav>
    <div class="mobile">
        <div id="navBtn">☰</div>
    </div>
    <div class="desktop">
        <div class="links">
            <a href="/" class="currPage">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/chickencam">CHICKEN CAM</a>
            <a href="/recipes">RECIPES</a>
            <a href="/contact">CONTACT</a>
        </div>
    </div>
</nav>

<div id="opacityLayer" class="opacityLayer"></div>

<section id="navMenu" class="navMenu">
    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="/chickencam">Chicken Cam</a>
    <a href="/recipes">Recipes</a>
    <a href="/contact">Contact Us</a>
</section>